<div id='comment-form' >
  <%= form_with(model: comment) do |form| %>

    <%= render 'shared/error_messages', object: form.object %>

    <%= form.hidden_field(:ticket_id, value: ticket.id)%>

    <%= form.text_area :content, class: 'form-control', placeholder: 'enter comment here' %>

    <%= form.submit 'Send comment', class: 'btn btn-primary comment' %>

  <% end %>
</div>