<% if current_staffmember.admin? %>

  <li id='fat-menu' class='dropdown'>
    <a href='#' id='drop_btn'>
      Admin panel <b class='caret'></b>
    </a>
    <ul class='dropdown-menu'>
      <%= link_to 'Staffmembers', staffmembers_path %>
      <%= link_to 'Department management', departments_path %>
      <%= link_to 'Status management', statuses_path %>
    </ul>
  </li>
<% else %>

  <li><%= link_to 'Tickets assigned to me', tickets_path(term: 'all_my_tickets'), id: 'all_tickets' %></li>

<% end %>

<li><%= link_to 'All Tickets', cookies[:remember_term].nil? ? tickets_path : tickets_path(no_term: 'true'),
                id: 'all_tickets' %></li>

<li>
  <%= link_to signout_path, method: 'delete' do %>
    Sign out <i class="glyphicon glyphicon-log-out"></i>
  <% end %>
</li>