<%= form_with(model: ticket, local: true, ) do |form| %>

  <div class='col-md-6 col-md-offset-3' >
    <%= render 'shared/error_messages', object: form.object %>

    <% if signed_in? %>
      <%= render 'for_staff', form: form %>
    <% end %>

    <%= form.label :subject %>
    <%= form.text_field :subject, readonly: read_only %>

    <%= form.label :content %>
    <%= form.text_area :content, readonly: read_only %>

    <%= form.submit 'Save', class: 'btn btn-large btn-primary' %>
    <%= link_to 'Back', tickets_path, class:'badge' %>
  </div>
<% end %>

