<%= form_with(model: ticket, local: true) do |form| %>

  <div class='col-md-6 col-md-offset-3' >
    <%= render 'shared/error_messages', object: form.object %>

    <div class='control-group'>
      <%= form.label :status %>
      <div class="controls">
        <%= collection_select(:ticket, :status_id, Status.all, :id, :name, { multiple: false }) %>
      </div>
    </div>

    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>

    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>

    <%= form.submit 'Save', class: 'btn btn-large btn-primary' %>
    <%= link_to 'Back', root_path, class:'badge' %>
  </div>
<% end %>

