<% provide(:title, 'Ticket') %>

<div id="header-tickets">
  <h1>Tickets list</h1>
</div>

<% if params[:term].nil? %>

  <ul class="nav-tickets">

    <% @list_filters.each do |key, value| %>
      
      <% span_id = 'badge-count' unless value == 'completed' %>

      <li class="filter">
        <a class="list-group-item" data-remote="true" href='<%= tickets_path + '?value=' + value %>'>
          <%= key %>
          <span class="badge" id="<%= span_id %>">
            <%= @counts[value] %>
          </span>
        </a>
      </li>

    <% end %>

  </ul>

<% end %>

<%= render 'tickets/tickets', tickets: @tickets %>