<% provide(:title, 'Ticket') %>

<div id="header-tickets"><h1>Tickets list</h1></div>

<ul class="nav-tickets">

  <li><%= link_to 'New unassigned tickets', '#', id: 'new',
              class: 'btn btn-secondary', remote: true , with: { value: 'new' }%></li>
  <li><%= link_to 'Open tickets',  '#', id: 'all_open',
              class: 'btn btn-secondary', remote: true %></li>
  <li><%= link_to 'On hold tickets', '#', id: 'on_hold',
              class: 'btn btn-secondary', remote: true %></li>
  <li><%= link_to 'Closed tickets', '#', id: 'completed',
              class: 'btn btn-secondary', remote: true %></li>

</ul>

<%= render 'tickets/tickets', tickets: @tickets %>

