<% provide(:title, 'Ticket') %>

<div id="header-tickets"><h1>Tickets list</h1></div>

<% if params[:term].nil? %>

  <ul class="nav-tickets">

    <li class="filter">
      <a class="list-group-item" data-remote="true" href="<%= tickets_path + '?value=unassigned_open' %>">
        New unassigned tickets
        <span class="badge" id="badge-count"><%= @counts['unassigned_open'] %></span>
      </a>
    </li>

    <li class="filter">
      <a class="list-group-item" data-remote="true" href="<%= tickets_path + '?value=all_open' %>">
        Open tickets
        <span class="badge" id="badge-count"><%= @counts['all_open'] %></span>
      </a>
    </li>

    <li class="filter">
      <a class="list-group-item" data-remote="true" href="<%= tickets_path + '?value=on_hold' %>">
        On hold tickets
        <span class="badge" id="badge-count"><%= @counts['on_hold'] %></span>
      </a>
    </li>

    <li class="filter">
      <a class="list-group-item" data-remote="true" href="<%= tickets_path + '?value=completed' %>">
        Closed tickets
        <span class="badge"><%= @counts['completed'] %></span>
      </a>
    </li>

  </ul>

<% end %>

<%= render 'tickets/tickets', tickets: @tickets %>
