<% if signed_in? %>
  <%= link_to 'Edit', edit_ticket_path(@ticket), class:'badge delete' %>
<% end %>

<%= link_to 'Back', tickets_path, class:'badge' %>

<p id="uniques_code">
  <strong>Uniques code:</strong>
  <%= @ticket.uniques_code %>
</p>

<p id="owner">
  <strong>Owner:</strong>
  <% if !@ticket.staff_member.nil? %>
    <%= @ticket.staff_member.login %>
  <% else %>
    Unassigned
  <% end %>
</p>

<p id="status">
  <strong>Status:</strong>
  <%= @ticket.status.name %>
</p>

<p id="reporter">
  <strong>Reporter:</strong>
  <%= @ticket.client.email %>
</p>

<p id="department">
  <strong>Department:</strong>
  <%= @ticket.department.name %>
</p>

<p id="subject">
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p id="content">
  <strong>Content:</strong>
  <%= @ticket.content %>
</p>

<div id="activity_log">
  <strong>Activity log:</strong>

  <% @ticket.activity_logs.each do | item | %>
    <div class="log_item">
      <%= item.message %>
      <h6><%= time_ago_in_words(item.created_at) %> ago </h6>
    </div>
  <% end %>

</div>
